.link{
    background-color: green;
    font-size: 14px;
    color: white;
    padding: 25px;
    margin-top: 20;
    text-decoration: none;
    display: block;
}
/* .link:hover{
    background-color: aquamarine;
    font-size: 18px;
    font-weight: bold;
} */
.link:active{
    display: none;

}