.box{
    background-color: blue;
    height: 100px;
    width: 100px;
/*     
    position: relative;
    position: absolute;
    position: fixed; */

    position: sticky;
    top: 10px;
    
    z-index: -1;
}